@model IEnumerable<WebPhongKhamNhi.Models.Dichvuxetnghiem>

@{
    ViewData["Title"] = "Dịch vụ xét nghiệm";
    int i = 1;
}

<h1>Dịch vụ xét nghiệm</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr> 
            <th>
                STT
            </th>
            <th>
                Tên xét nghiệm
            </th>
            <th>
                Chi phí
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(i++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenXetNghiem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiPhi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaXetNghiem">Sửa</a> |
                <a asp-action="Delete" asp-route-id="@item.MaXetNghiem">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
