@model WebPhongKhamNhi.Models.Thuoc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Thuoc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HuongDan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HuongDan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongTonKho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongTonKho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiDiemSua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiDiemSua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNguoiSua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNguoiSua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNhaSanXuatNavigation.TenNhaSanXuat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNhaSanXuatNavigation.TenNhaSanXuat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaThuoc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
