@model IEnumerable<WebPhongKhamNhi.Models.Dichvukham>

@{
    ViewData["Title"] = "Index";
}
<form asp-action="Index" method="POST">
    <input type="text" name="textSearch" />
    <input type="submit" value="Tìm kiếm" />
</form>

<h1>DANH SÁCH DỊCH VỤ KHÁM</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenDichVu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChiPhi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDichVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiPhi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaDichVu">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaDichVu">Chi Tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDichVu">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>
