@model WebPhongKhamNhi.Models.Benhnhan

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn xóa người dùng này?</h3>
<div>
    @if (ViewData["Message"] != null)
    {
        <div class="alert alert-danger">@ViewData["Message"]</div>
    }
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoTen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenTaiKhoan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenTaiKhoan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MatKhau)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenNguoiThan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenNguoiThan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        
    </dl>

    <form asp-action="DeletePost">
        <input type="hidden" asp-for="MaBenhNhan" />
        <input type="submit" value="Xóa" class="btn btn-danger" />

    </form>
    <a asp-action="Index">Quay lại danh sách bệnh nhân</a>
</div>
