@model WebPhongKhamNhi.Models.Donthuoc

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết đơn thuốc</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Mã đơn thuốc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaDonThuoc)
        </dd>
        <dt class="col-sm-2">
            Tên đơn thuốc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenDonThuoc)
        </dd>
        <dt class="col-sm-2">
            Mã hồ sơ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaHoSoNavigation.MaHoSo)
        </dd>
    </dl>
    <h3>Chi tiết đơn thuốc</h3>
    <a asp-action="CreateCTDT" asp-route-madonthuoc="@Model.MaDonThuoc" style="display:block"><button class="btn btn-primary">Thêm thuốc</button></a>

    <br />
    <table class="table table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên thuốc</th>
                <th>Số lượng</th>
                <th>Hướng dẫn sử dụng</th> 
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.ListCTDT)
            {
                <tr>
                    <td></td>
                    <td>@item.MaThuocNavigation.Ten</td>
                    <td>@item.SoLuong</td> 
                    <td>@item.HuongDanSuDung</td>
                    <td>
                        <a asp-action="EditCTDT" asp-route-madonthuoc="@item.MaDonThuoc" asp-route-mathuoc="@item.MaThuoc">Sửa</a> |

                        <a asp-action="DeleteCTDT" asp-route-madonthuoc="@item.MaDonThuoc" asp-route-mathuoc="@item.MaThuoc">Xóa</a>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>