@model IEnumerable<WebPhongKhamNhi.Models.Donthuoc>

@{
    ViewData["Title"] = "GetDonThuocTheoHoSo";
}

<h1>GetDonThuocTheoHoSo</h1>

<p>
    <a asp-action="CreateDonThuocTheoHoSo" asp-route-id="@ViewBag.MaHoSo">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenDonThuoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaHoSoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDonThuoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHoSoNavigation.MaHoSo)
            </td>
            <td>
                <a asp-action="EditDonThuocTheoHoSo" asp-route-id="@item.MaDonThuoc">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaDonThuoc">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDonThuoc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> 
<p>
    <a asp-action="Details" asp-controller="HoSoKham" asp-route-id="@ViewBag.MaHoSo">Quay lại hồ sơ</a>
</p>
