@model IEnumerable<WebPhongKhamNhi.Models.Phieudangkykham>

@{
    ViewData["Title"] = "Index";
}

@*<form asp-action="Index" method="POST">
        <input type="text" name="textSearch" />
        <input type="submit" value="Tìm kiếm" />
    </form>*@

<h1>Danh sách phiếu đăng kí khám</h1>

<p>
    <a href="@Url.Action("CreateByIdBenhNhan","PhieuDangKyKham", 
            new { id=ViewBag.maBenhNhan})">
    Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayDangKy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaBenhNhanNavigation.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaDichVuNavigation.TenDichVu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayDangKy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongTien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaBenhNhanNavigation.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDichVuNavigation.TenDichVu)
                </td>
                <td>
                    <a asp-action="EditByIDBenhNhan" asp-route-id="@item.MaPhieuDangKy">Sửa</a> |
                    <a asp-action="DetailsByIDBenhNhan" asp-route-maPhieu="@item.MaPhieuDangKy">Chi tiết</a> |
                    <a asp-action="DeleteByIDBenhNhan" asp-route-maPhieu="@item.MaPhieuDangKy">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Details", "BenhNhan", new {id=ViewBag.MaBenhNhan})">Trở lại thông tin bệnh nhân</a>
