@model IEnumerable<WebPhongKhamNhi.Models.Hosokham>

@{
    ViewData["Title"] = "GetHoSoTheoBenhNhan";
}

<h1>Danh sách hồ sơ của bệnh nhân </h1>

<p>
    <a asp-action="CreateHoSoTheoBenhNhan" asp-route-id="@ViewBag.MaBenhNhan">Thêm mới hồ sơ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Mã hồ sơ</th>
            <th>
                @Html.DisplayNameFor(model => model.TrieuChung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChuanDoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                Bác sĩ
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.MaHoSo</td>
            <td>
                @Html.DisplayFor(modelItem => item.TrieuChung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuanDoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaBacSiNavigation.HoTen)
            </td>
            
            <td>
                <a asp-action="EditHoSoTheoBenhNhan" asp-route-id="@item.MaHoSo">Cập nhật</a> |
                <a asp-action="Details" asp-route-id="@item.MaHoSo">Chi tiết</a> |
                <a asp-action="DeleteTheoBenhNhan" asp-route-id="@item.MaHoSo" asp-route-idbn="@ViewBag.MaBenhNhan">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Details" asp-controller="BenhNhan" asp-route-id="@ViewBag.MaBenhNhan">Quay lại danh sách bệnh nhân</a>
</p>