@model IEnumerable<WebPhongKhamNhi.Models.Hosokham>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrieuChung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChuanDoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaBacSiNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaBenhNhanNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrieuChung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuanDoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaBacSiNavigation.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaBenhNhanNavigation.DiaChi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHoSo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaHoSo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHoSo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
