@model IEnumerable<WebPhongKhamNhi.Models.Hosokham>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách hồ sơ khám bệnh</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrieuChung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChuanDoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                Bác sĩ
            </th>
            <th>
                Tên bệnh nhân
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrieuChung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuanDoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaBacSiNavigation.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaBenhNhanNavigation.HoTen)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHoSo">Cập nhật</a> |
                <a asp-action="DetailsHoSo" asp-route-id="@item.MaHoSo">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHoSo">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
