@model WebPhongKhamNhi.Models.Chitietphieunhap
@{
    var listThuoc = ViewBag.listThuoc;
}
<hr />
<h4>Danh sách thuốc</h4>
<div class="row">
    <div class="col-md-9">
        <table class="myTable" id="tableChiTietPhieuNhap">
            <thead>
                <tr>
                    @{ int i = 1;}
                    <th>STT</th>
                    <th>
                        @Html.DisplayNameFor(model => model.MaThuocNavigation.Ten)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GiaThuoc)
                    </th>
                    <th style="width:15%">
                        @Html.DisplayNameFor(model => model.SoLuong)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ThanhTien)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="trChiTiet">
                    <td>@i</td>
                    @{ i++;}
                    <td>
                        @Html.DropDownList("TenThuoc", new SelectList(listThuoc, "MaThuoc", "Ten"), "--Chọn thuốc--", new { @class = "form-control" })
                    </td>
                    <td>
                        <input asp-for="GiaThuoc" class="form-control giathuoc" />
                    </td>
                    <td>
                        <input asp-for="SoLuong" class="form-control soluong" />
                    </td>
                    <td>
                        <input type="text" class="thanhTien form-control" readonly />
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-danger deleteCt">-</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <input id="btnThemChiTietPhieuNhap" name="themChiTietPhieuNhap" type="button" value="Thêm thuốc" class="btn btn-primary" />
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
