@model IEnumerable<WebPhongKhamNhi.Models.Phieunhap>

@{
    ViewData["Title"] = "Index";
}



<h1>Danh sách phiếu nhập thuốc</h1>
<p>Tìm kiếm thêo tên nhà sản xuất, mã phiếu nhập, ngày tạo phiếu</p>
<form asp-action="Index" method="POST">
    <input type="text" name="textSearch" />
    <input type="submit" value="Tìm kiếm" />
</form>
<p>
    <a asp-action="Create">Thêm phiếu nhập thuốc</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                @Html.DisplayNameFor(model => model.MaPhieuNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNhaSanXuatNavigation.TenNhaSanXuat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <td>@i</td>
                @{ i++;}
                <td>
                    @Html.DisplayFor(modelItem => item.MaPhieuNhap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayNhap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongTien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaNhaSanXuatNavigation.TenNhaSanXuat)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaPhieuNhap">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.MaPhieuNhap">Chi tiết phiếu nhập</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaPhieuNhap">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
