@model WebPhongKhamNhi.Models.Nhasanxuat

@{
    ViewData["Title"] = "Delete";
}

<h1>Xoá thông tin nhà sản xuất</h1>

<h3>Bạn chắc chắn muốn xoá nhà sản xuất này?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaNhaSanXuat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaNhaSanXuat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenNhaSanXuat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenNhaSanXuat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
    </dl>
    
    <form asp-action="DeletePost">
        <input type="hidden" asp-for="MaNhaSanXuat" />
        <input type="submit" value="Xoá" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>
