@model IEnumerable<WebPhongKhamNhi.Models.Khoa>

@{
    ViewData["Title"] = "Index";
    var i = 1;
}

<h1>Danh sách khoa</h1>

<p>
    <a asp-action="Create">Thêm mới khoa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                @Html.DisplayNameFor(model => model.TenKhoa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(i++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhoa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaKhoa">Cập nhật</a> |
               
                <a asp-action="Delete" asp-route-id="@item.MaKhoa">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
